.localization {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.localization .container {
  display: flex;
}

.localization .container h2:nth-child(1) {
  display: flex;
  margin-right: 20px;
}

.localization .container h2.active {
  color: var(--blue);
}

.localization .container h2:hover {
  cursor: pointer;
}
